*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    color: black;
    font-size: medium;
    height: 100px;
    text-align: center;
}
.navigation{
    background-color: blue;
    color: crimson;
    font-size: medium;
    height: 100px;
    text-align: center;
}
.saction{
    display: flex;
}
.left_part{
  width: 70%;
  height: 400px;
  background-color: aquamarine;
}
.right_part{
    width: 30%;
    height: 400px;
    background-color: chartreuse;
    color: black;
    font-size:100px;
    text-align: center;
}

.top{
    background-color: blueviolet;
    color: brown;
    font-size: 50px;
    height: 100px;
    text-align: center;

    
}
.middle{
    background-color: rgb(226, 43, 202);
    color: rgb(157, 165, 42);
    font-size: 50px;
    height: 100px;
    text-align: center;
}
.bottom{
    background-color: darksalmon;
    color:red;
    font-size: 100px;
    height: 200px;
    text-align: center;
}
.footer{
    background-color: gold;
    color: darkblue;
    font-size: larger;
    height: 100px;
    font-size: 50px;
    text-align: center;
}